<!doctype html>
<html lang="en" ng-app="pangTest">
<head>
	<title>Tests for Pangular</title>

	<!-- Angular libraries and JQuery -->
 	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-resource.min.js"></script>

  <!-- To make it look good -->
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

  <!-- Parse library -->
	<script src="http://www.parsecdn.com/js/parse-1.0.24.min.js"></script>

	<!-- Test files -->
	<script src="pang.js"></script>
	<script src="app.js"></script>
</head>

<body ng-controller="PangTestCtrl">
	<h1>Tests for Pangular</h1>
	<table>
		<tr>
			<th>Up to date?</th>
			<th>Objects:</th>
		</tr>

		<!-- for every object -->
		<tr ng-repeat="object in objects.data">

			<!-- display whether up to date or not -->
			<td ng-if="upToDate[$index]">&#x2713;</td>
			<td ng-if="!upToDate[$index]">&#x2717;</td>

			<!-- display the object -->
			<td style="width: 20em; text-align:center">{{object.name}}</td>

			<!-- give some controls -->
			<td>
				<button class="btn-small btn-primary" ng-click="updateObject($index, object)">update</button>
				<button class="btn-small btn-danger" ng-click="deleteObject(object)">delete</button>
			</td>
			
		</tr>
	</table>

	<input ng-model="newText" placeholder="update text...">
	<hr>
	<button class="btn" ng-click="addObject()">New Object</button>
</body>
</html>
