<!doctype html>
<html lang="en" ng-app="pangTest">
<head>
	<title>Tests for Pang</title>

	<!-- Angular libraries -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-resource.min.js"></script>

  <!-- To make it look good -->
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

  <!-- Parse library -->
	<script src="http://www.parsecdn.com/js/parse-1.2.19.min.js"></script>

	<!-- Test files -->
	<script src="pang.js"></script>
	<script src="app.js"></script>
</head>

<body ng-controller="PangTestCtrl">
	<h1>Tests for Pang</h1>
  <div ng-hide="loggedIn">
    <p>No one logged in</p>
    <button class="btn" ng-click="login()">Login testusername</button>
  </div>
  <div ng-show="loggedIn"> 
    <p>testusername logged in</p>
    <button class="btn" ng-click="logout()">Logout testusername</button>
  </div>
  <hr>
	<table>
		<tr>
			<th style="text-align: left">Objects:</th>
		</tr>

		<!-- for every object -->
		<tr ng-repeat="object in objects">

			<!-- display the object -->
			<td style="width: 10em">{{object.name}}</td>

			<!-- give some controls -->
			<td>
				<button ng-show="object.canWrite" class="btn-small btn-primary" ng-click="updateObject($index)">update</button>
				<button ng-show="object.canWrite" class="btn-small btn-danger" ng-click="deleteObject($index)">delete</button>
			</td>
			
		</tr>
	</table>

  <input ng-model="inputText" placeholder="new / update title...">
  <hr>
  <div ng-show="loggedIn">
    <button class="btn" ng-click="addObject()">New Object</button>
    <input ng-model="pubReadChecked" type="checkbox">Public Read</input>
    <input ng-model="pubWriteChecked" type="checkbox">Public Write</input>
  </div>
</body>
</html>
